html {
    scroll-behavior: smooth;
}

header{
    background-color: #333;
    text-align: center;
    color: white;
    height: 120px;
    padding: 0px 0px 0px 0px;
    font-size: 20px;
    position: fixed;
    top: 0px;
    width: 100%;
}

nav{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 50px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    color: white;
}

main{
    margin-top: 5rem;
    padding: 2rem;
}

section{
    padding: 2rem;
    margin-top: 5rem;
    scroll-margin-top: 5rem;
}

a:link{
    color: white;
    text-decoration: none;}

a:visited{
    color: white;
    text-decoration: none;}

a:hover{
    color: gray;
    text-decoration: none;}

footer{
    display: flex;
    background-color: #333;
    height: 120px;
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    border: 20px 0px 0px 0px;
}
h2{
    margin-top: 200px;
}
